<h2>Unstyled Payment Form</h2>
<div class="form-wrapper">
  <SquarePaymentForm
    @applicationId="square-app-id"
    @locationId="square-location-id"
    as |PaymentForm|
  >
    <PaymentForm.CreditCardFields as |Fields|>
      <div>
        <label>
          Card Number
        </label>
        <Fields.NumberInput class="sq-card-number"/>
      </div>

      <div>
        <label class="sq-label">
          Expiration
        </label>
        <Fields.ExpirationDateInput/>
      </div>

      <div>
        <label class="sq-label">
          CVV
        </label>
        <Fields.CvvInput/>
      </div>

      <div>
        <label class="sq-label">
          Postal Code
        </label>
        <Fields.PostalCodeInput/>
      </div>
    </PaymentForm.CreditCardFields>
  </SquarePaymentForm>
</div>
{{#docs-snippet name="unstyled-payment-form.hbs"}}
  {{#square-payment-form
    applicationId="square-app-id"
    locationId="square-location-id"
    onCardNonceResponseReceived=(action "handleCardNonceResponse")
    as |PaymentForm|
  }}
    <PaymentForm.CreditCardFields as |Fields|>
      <div>
        <label>Card Number</label>
        <Fields.NumberInput/>
      </div>

      <div>
        <label>Expiration</label>
        <Fields.ExpirationDateInput/>
      </div>

      <div>
        <label>CVV</label>
        <Fields.CvvInput/>
      </div>

      <div>
        <label>Postal Code</label>
        <Fields.PostalCodeInput/>
      </div>
    </PaymentForm.CreditCardFields>
  {{/square-payment-form}}
{{/docs-snippet}}
